<div class="sidebar">
  <div class="container sidebar-sticky">
    <a href="/"><img src="/assets/logo-horiz-3c-reverse.svg" alt="(Turbine Labs Logo)" /></a>

    <nav class="sidebar-nav">
        {% assign sorted_refs = site.reference | sort: 'print_order' %}
        {% include sidebar_section.html collection=sorted_refs %}
        <p>
        {% assign sorted_guides = site.guides | sort_natural: 'print_order' %}
        {% include sidebar_section.html collection=sorted_guides %}
    </nav>

    <small>&copy; {{ site.time | date: '%Y' }} Turbine Labs, Inc.<br/>All rights reserved.</small>
  </div>
</div>
